@using WebTravelMVC.Models

@{
    ViewBag.Title = "Thêm mới bài viết";
    Layout = "~/Areas/Common/Views/Shared/_LayoutCommon.cshtml";
}
@{
    IEnumerable<TheLoai> listTheLoai = ViewBag.ListTheLoai as IEnumerable<TheLoai>;
}
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Thêm Mới bài Viết</h2>
                    <span>Nhập thông tin đầy đủ bên dưới</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Bạn muốn thêm mới bài viết?</h2>
                    <span>Nội dung thông tin bài viết</span>
                </div>
                @using (Html.BeginForm("ThemMoiBaiViet", "BaiViet", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <i>Tên bài viết</i>
                                <input name="TenBaiViet" type="text" placeholder="Tên bài viết" required="">
                            </fieldset>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="col-lg-6">
                            <fieldset>
                                <i>Tên thể loại</i>
                                <select class="form-control" name="MaTheLoai">
                                    @foreach (var item in listTheLoai)
                                    {
                                        <option class="select2-selection__arrow" value="@item.MaTheLoai">@item.TenTheLoai</option>
                                    }
                                </select>
                            </fieldset>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="col-lg-6">
                            <i>Hình ảnh</i>
                            <input style="border: 0px; height:auto" name="AnhBia" type="file">
                        </div>

                        <div class="col-lg-12">
                            <fieldset>
                                <i>Nội dung</i>
                                <textarea name="NoiDung" id="NoiDung" required></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <button style="width: auto">Thêm mới</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->
<script>
    CKEDITOR.replace("NoiDung");
</script>
