
@{
    ViewBag.Title = "Thành công";
    Layout = "~/Areas/Common/Views/Shared/_LayoutCommon.cshtml";
}
<br />
<br />
<div class="subscribe">
    <div class="container">
        <div class="row">
            <h2>Thực  hiện thành công</h2>
        </div>
    </div>
</div>