
@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Areas/Common/Views/Shared/_LayoutCommon.cshtml";
}
<br />
<br />
<div class="subscribe">
    <div class="container">
        <div class="row">
            <h2 style="color:red">Thực  hiện thất bại</h2>
        </div>
    </div>
</div>
